*{
    margin: 0px;
    padding: 0px;
}
h1{
    margin-top: 60px ;
    color: #1d1e18;
}
body{
    background-color: #6b8f71;
    text-align: center;
}
.container{
    height: 70vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.game{
    height:60vmin;
    width:60vmin;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin
}
.box{
    height: 18vmin;
    width: 18vmin;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    font-size: 8vmin;
    background-color: #d9fff5;
}
#newBtn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #d9fff5;
    color: #537c5a;
    border-radius: 1rem;
    border: none;
}
#resetBtn{
        padding: 1rem;
        font-size: 1.25rem;
        background-color: #d9fff5;
        color: #537c5a;
        border-radius: 1rem;
        border: none;
        margin-bottom: 5px;
}
#msg{
    margin: 2px;
    font-size: 6vmin;
    color: #1d1e18;
}
.msg-container{
    height: 125vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide{
    display: none;
}